.btn-up {
	position: fixed;
	right: 5em;
	bottom: 0;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6em;
	height: 5em;
	background-color: color-mix(in srgb, ButtonFace, rgba(0, 0, 0, 0));
	backdrop-filter: blur(2px);
	color: GrayText;
	transition: background .3s;
}

.btn-up_hide {
	display: none;
}

@media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
		background-color: color-mix(in srgb, Highlight, rgba(0, 0, 0, 0.5));
		color: HighlightText;
	}
}