/*
    Кароч тут просто общий стиль
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    color-scheme: var(--color-scheme, light dark);
}

img {
    border-radius: 4px;
}

p {
    color: CanvasText;
}

a:link,
a:visited,
a:hover,
a:active {
    color: LinkText;
}

button {
    border-radius: 4px;
}

#MainContent {
    background-color: Canvas;
    padding: 1%;
    max-width: 70%;
    border-radius: 4px;
    margin: auto;
}

#LoadableContent {
    min-height: 32em;
}

/*Прикол libreofiice*/
#Оглавление1 {
    border: 1px solid;
    margin: 4em;
    padding: 2em;
}

@media (orientation: portrait) or (max-height: 680px) {

    #MainContent {
        max-width: 100%;
    }
}

pre {
    border: 3px solid;
    border-color: ActiveBorder;
    padding: 8px;
    border-radius: 4px;
}