/*
    Кароч тут просто общий стиль
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

}


button {
    border-radius: 4px;
}

#MainContent {
    background-color: #efefef;
    padding: 1%;
    width: 70%;
    margin-left: 15%;
    border-radius: 4px;
}

#LoadableContent {
    min-height: 32em;
}

.theme{
    
    height: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #b393d3;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #957dad,
        1px 2px 0px #957dad,
        1px 3px 0px #957dad,
        1px 4px 0px #957dad,
        1px 5px 0px #957dad,
        1px 6px 0px #957dad,
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

@media (orientation: portrait) or (max-height: 680px) {

    #MainContent {
        width: 100%;

        margin-left: 0%;
    }
}