/*
    Стиль для вкладок
*/

/* Style the tab */
.tab {
    overflow: hidden;
    margin-bottom: 1em;
    width:max-content;
    background-color: ButtonFace;
    width: 100%;
    border-radius: 4px;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: ButtonText;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background-color: Highlight;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: Highlight;
}

/* Style the tab content */
.tabcontent {
    display: none;padding: 6px 12px;
    }
    
    .tabcontent {
        animation: fadeEffect 1s;
        /* Fading effect takes 1 second */
    }
    
    /* Go from zero to full opacity */
    @keyframes fadeEffect {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }